.nav_bar_wrapper {
  background-color: white;
  width: 100%;
}
.nav_bar_inner {
  max-width: 100%;
  padding: 0px 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.nav_logo {
  font-size: 25px;
  color: blue;
}
.nav_right_sec {
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav_items {
  font-size: 18px;
  font-weight: 500px;
  cursor: pointer;
}
.Mobille_navbar {
  background-color: lightblue;
  position: absolute;
  top: 70px;
  z-index: 1;
  position: "absolute";
  transform: "translate(-50%; -50%)";
  height: 300px;
  width: 100%;
}
.nav_items1 {
  padding: 10px;
}
