html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
#blogBackground {
  width: 100%;
  height: 70vh;
  background-image: url("../../asstes/images/ukBack.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.blog_img_text {
  background-color: #fff;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
}
.elementor-background-overlay {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000422;
  opacity: 0.2;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 25px;
}
.Slider {
  background-color: white;
  width: 100%;
}
.text_container {
  text-decoration: none;
  margin-left: 100px;
  font-size: 40px;
}
.text_container:hover {
  text-decoration: underline;
}
@media screen and (max-width: 659px) {
  #blogBackground {
    width: 100%;
    height: 65vh;
    background-image: url("../../asstes/images/ukBack-mobile.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .text_container {
    text-decoration: none;
    margin-left: 0px;
    font-size: 30px;
  }
  .blog_img_text {
    background-color: #fff;
    width: 100%;
    font-weight: 600;
  }
}
