.blog_card_container {
  border: 1px solid lightgray;
  width: 100%;
}
.blog_card_item_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
  column-gap: 15px;
  padding: 0px 130px;
  flex-direction: row-reverse;
}
.blog_main_title {
  padding: 20px 0px;
  padding-left: 130px;
  font-size: larger;
  font-weight: 600;
}

.blog_small_details_container {
  font-size: 12px !important;
  color: #777;
}
.blog_card_tag_type {
  position: absolute;
  z-index: 2;
  font-family: "Rajdhani", sans-serif !important;
  background-color: #dc0000;
  font-size: 11px;
  font-weight: 600;
  color: white;
  border-radius: 0 0 5px 5px;
  padding: 3px 9px;
  margin-left: 10px;
}
.blog_card_title_text {
  font-size: 14px;
  color: #000;
  line-height: 1.067 !important;
  font-weight: 700 !important;
  font-family: "Rajdhani", sans-serif !important;
}
