.banner_wrapper {
  background: url("../../asstes/images/banner1.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 150px;
  background-position: center;
  height: 500px;
}
@media screen and (max-width: 659px) {

  .banner_wrapper {
    background: url("../../asstes/images/banner1-mobile.jpg");
    background-size: cover;
    width: 100%;
    padding-top: 40px;
    background-position: center;
  }
}
